<section class="about" id="about">
  <div class="container about-container">
    <div class="about-title-wrapper">
      <h2 class="about-title">Про Нас</h2>
      <p class="about-title-text">
        У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
        приносять радість та задоволення. Наша місія — пропонувати високоякісні
        десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
        естетичний вигляд.
      </p>
    </div>
    <div class="about-slider-wrapper">
      <div class="about-slider">
        <div class="swiper about-swiper">
          <ul class="swiper-wrapper about-image-list">
            <li class="swiper-slide about-image-item">
              <div class="about-image-wrapper">
                <picture>
                  <source
                    srcset="
                      ./img/about/desktop/about-image01.jpg    1x,
                      ./img/about/desktop/about-image01@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/tablet/about-image01.jpg    1x,
                      ./img/about/tablet/about-image01@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/mobile/about-image01.jpg    1x,
                      ./img/about/mobile/about-image01@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="about-image"
                    src="./img/about/mobile/about-image01.jpg"
                    alt="Готуємо десерти у майстерні"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide about-image-item">
              <div class="about-image-wrapper">
                <picture>
                  <source
                    srcset="
                      ./img/about/desktop/about-image02.jpg    1x,
                      ./img/about/desktop/about-image02@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/tablet/about-image02.jpg    1x,
                      ./img/about/tablet/about-image02@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/mobile/about-image02.jpg    1x,
                      ./img/about/mobile/about-image02@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="about-image"
                    src="./img/about/mobile/about-image02.jpg"
                    alt="Обговорюємо наше нове меню"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide about-image-item">
              <div class="about-image-wrapper">
                <picture>
                  <source
                    srcset="
                      ./img/about/desktop/about-image03.jpg    1x,
                      ./img/about/desktop/about-image03@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/tablet/about-image03.jpg    1x,
                      ./img/about/tablet/about-image03@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/mobile/about-image03.jpg    1x,
                      ./img/about/mobile/about-image03@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="about-image"
                    src="./img/about/mobile/about-image03.jpg"
                    alt="Вітрина з готовими десертами"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide about-image-item">
              <div class="about-image-wrapper">
                <picture>
                  <source
                    srcset="
                      ./img/about/desktop/about-image04.jpg    1x,
                      ./img/about/desktop/about-image04@2x.jpg 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      ./img/about/tablet/about-image04.jpg    1x,
                      ./img/about/tablet/about-image04@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./img/about/mobile/about-image04.jpg    1x,
                      ./img/about/mobile/about-image04@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="about-image"
                    src="./img/about/mobile/about-image04.jpg"
                    alt="Наша клієнтка смакує торт з полуницею"
                    loading="lazy"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
        <div class="about-swiper-buttons">
          <button class="slider-arrow about-slider-arrow about-button-prev" type="button" aria-label="Попередній слайд">
            <svg width="24" height="24">
              <use href="./img/icons.svg#arrow-back"></use>
            </svg>
          </button>
          <button class="slider-arrow about-slider-arrow about-button-next" type="button" aria-label="Наступний слайд">
            <svg width="24" height="24">
              <use href="./img/icons.svg#arrow-forward"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-pagination about-pagination"></div>
    </div>
  </div>
</section>