<section class="section about" id="about">
  <div class="container about-container">
    <div class="sw-title-wrapper about-title-wrapper">
      <h2 class="sw-title about-title">Про Нас</h2>
      <p class="sw-title-text about-title-text">У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що приносять радість та задоволення. Наша місія — пропонувати високоякісні десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та естетичний вигляд.</p>
    </div>
  </div>
</section>