<section class="section dessert" id="dessert">
  <div class="container dessert-container">
    <div class="dessert-wrapper">
      <div class="sw-title-wrapper dessert-title-wrapper">
        <h2 class="sw-title dessert-title">Солодощі</h2>
        <p class="sw-title-text dessert-title-text">Спробуйте наші смачні десерти, які вас здивують!</p>
      </div>
      <ul class="dessert-category-list"></ul>
      <ul class="dessert-list"></ul>
    </div>
    <button class="button-primary dessert-load-more-button" type="button">Завантажити ще</button>
  </div>
</section>