<section class="faq" id="faq">
  <div class="container faq-container">
    <div class="faq-title-wrapper">
      <h2 class="faq-title">Часті питання</h2>
      <p class="faq-title-text"></p>
    </div>
    <ul class="accordion-container faq-list">
<!--      
      <li class="ac faq-item">
        <h3 class="ac-header faq-subtitle">
          <button class="ac-trigger faq-button" type="button">
            <span></span>
            <svg class="faq-icon">
              <use href="./img/icons.svg#keyboard-arrow-down"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text"></p>
        </div>
      </li>
    -->
    </ul>
  </div>
</section>