<div class="mobile-menu-overlay" data-mobile-menu>
  <div class="mobile-menu">
    <div class="container mobile-menu-container">
      <div class="mobile-menu-header-wrapper">
        <div class="mobile-menu-header">
          <a class="mobile-menu-logo nav-link" href="#" aria-label="Солодка майстерня" data-mobile-menu-close>
            <svg class="mobile-menu-logo-icon">
              <use href="./img/logo.svg#logo"></use>
            </svg>
          </a>
          <button class="sw-link mobile-menu-close-button" type="button" data-mobile-menu-close>
            <svg class="mobile-menu-close-button-icon">
              <use href="./img/icons.svg#close"></use>
            </svg>
          </button>
        </div>
      </div>
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="sw-link mobile-menu-nav-link" href="#dessert" data-mobile-menu-close>Солодощі</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="sw-link mobile-menu-nav-link" href="#about" data-mobile-menu-close>Про нас</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="sw-link mobile-menu-nav-link" href="#feedback" data-mobile-menu-close>Відгуки</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="sw-link mobile-menu-nav-link" href="#faq" data-mobile-menu-close>Часті питання</a>
          </li>
        </ul>
        <a href="#dessert" class="mobile-order-button button-primary-small" data-mobile-menu-close>До покупок</a>
      </nav>
    </div>
  </div>
</div>
