<div class="modal-backdrop order-modal-overlay" data-order-modal-overlay>
  <div class="modal-window order-modal" role="dialog" aria-modal="true" aria-labelledby="order-modal-title">
    <button class="modal-close-button order-modal-close" type="button" aria-label="Закрити" data-order-modal-close>
      <svg width="24" height="24">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="order-modal-title" id="order-modal-title">Оформлення замовлення</h2>
    <form class="modal-form order-form" data-order-form novalidate>
      <label class="modal-form-label order-form-label">Ім'я*
        <input class="modal-form-input order-form-input" type="text" name="name" placeholder="Вікторія" required data-order-name data-error-message=""/>
        <span class="modal-form-input-error order-form-error"></span>
      </label>

      <label class="modal-form-label order-form-label">Телефон*
        <input class="modal-form-input order-form-input" type="tel" name="phone" placeholder="38 0__ _______" required data-order-phone data-error-message=""/>
        <span class="modal-form-input-error order-form-error"></span>
      </label>

      <label class="modal-form-label order-form-label">Коментар*
        <textarea class="modal-form-textarea order-form-textarea" name="comment" placeholder="Ваш коментар" required data-order-comment data-error-message=""></textarea>
        <span class="modal-form-textarea-error order-form-error"></span>
      </label>

      <button class="button-primary modal-form-submit order-form-submit" type="submit">Надіслати заявку</button>
    </form>
  </div>
</div>
