<section class="sweets" id="sweets">
  <div class="container sweets-container">
    <div class="sweets-title-category-container">
      <div class="sweets-title-wrapper">
        <h2 class="sweets-title">Солодощі</h2>
        <p class="sweets-title-text">Спробуйте наші смачні десерти, які вас здивують!</p>
      </div>
      <div class="sweets-category-dropdown-container">
        <button class="sweets-category-dropdown" type="button">
          <p class="sweets-category-name"></p>
          <svg class="sweets-category-dropdown-icon">
            <use href="./img/icons.svg#keyboard-arrow-down"></use>
          </svg>
        </button>
        <ul class="sweets-category-list"></ul>
        
        <div class="loader-overlay" id="category-loader">
          <span class="loader"></span>
        </div>
      </div>
    </div>

    <ul class="sweets-list"></ul>
    
    <div class="loader-overlay" id="product-loader">
      <span class="loader"></span>
    </div>

    <button class="button-primary sweets-load-more-button hidden" type="button">Завантажити ще</button>
  </div>
</section>