<section class="sweets" id="sweets">
  <div class="container sweets-container">
    <div class="sweets-wrapper">
      <div class="sweets-title-wrapper">
        <h2 class="sweets-title">Солодощі</h2>
        <p class="sweets-title-text">Спробуйте наші смачні десерти, які вас здивують!</p>
      </div>
      <ul class="sweets-category-list"></ul>
      <ul class="sweets-list"></ul>
    </div>
    <button class="button-primary sweets-load-more-button" type="button">Завантажити ще</button>
  </div>
</section>