.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.feedback-slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}

.feedback-slider {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.feedback-swiper.swiper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 32px;
}

.feedback-list.swiper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.feedback-list .swiper-slide,
.feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  flex-basis: 100%;
  gap: 24px;
  height: auto;
  min-height: 100%;
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 32px;
  background-color: var(--color-scheme-1-foreground);
}

.feedback-star-wrapper.rating {
  justify-content: flex-start;
  margin: 0;
}

.feedback-star-wrapper .star-container {
  margin: 0;
}

.star-empty,
.star-half,
.star-filled {
  width: 24px;
  height: 24px;
}

.star-empty use,
.star-half use,
.star-filled use {
  fill: var(--color-scheme-1-text);
}

.feedback-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  flex-grow: 1;
  overflow: hidden;
}

.feedback-author {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.feedback-swiper-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.feedback-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-scheme-1-text);
}

.feedback-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: calc(100% + 22px);
  right: 0;
}

.feedback-slider-arrow svg {
  width: 24px;
  height: 24px;
}

.feedback-slider-arrow.swiper-button-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.feedback-swiper-pagination {
  display: flex;
  position: static;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.feedback-swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-neutral-lighter);
  opacity: 1;
  cursor: pointer;
  transition: background-color var(--transition-100);
}

.feedback-swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-scheme-1-text);
}

@media screen and (min-width: 768px) {
  .feedback-container {
    position: relative;
  }

  .feedback-list .swiper-slide,
  .feedback-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
    padding: 16px;
  }

  .feedback-swiper-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .feedback-swiper-pagination {
    position: static;
    justify-content: center;
  }

  .feedback-slider-wrapper {
    align-items: center;
    gap: 48px;
    width: 100%;
    overflow: visible;
  }

  .feedback-slider {
    gap: 48px;
  }

  .feedback-navigation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .feedback-slider-arrow  {
    display: flex;
    position: absolute;
    top: 50%;
    z-index: 10;
  }

  .feedback-swiper-button-prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .feedback-swiper-button-next {
    right: 0;
    transform: translate(50%, -50%);
  }
}

@media screen and (min-width: 1440px) {
  .feedback-item {
    padding: 32px;
  }
}