html {
  scroll-padding-top: 72px;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 999;
  background-color: var(--color-scheme-1-background);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.header-nav-list {
  display: none;
}

.header-nav-logo-icon {
  width: 158px;
  height: 72px;
  fill: currentColor;
}

.header-nav-link {
  padding: 24px 0;
}

.header-order-button {
  display: none;
}

.header-mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-mobile-menu-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    justify-content: space-between;
    gap: 16px;
  }

  .header-nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }

  .header-order-button {
    display: flex;
    width: 133px;
  }

  .header-mobile-menu-button {
    display: none;
  }  
}

@media only screen and (min-width: 768px) {
  .header-nav {
    gap: 32px;
  }

  .header-nav-list {
    gap: 32px;
  }
}
