.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-section {
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding-top: 155.5px;
  padding-bottom: 155.5px;
  background-repeat: no-repeat;
  background-size: auto; /* cover; */
  background-position: center;
  background-image:
    linear-gradient(var(--opacity-black-50), var(--opacity-black-50)),
    url(../img/hero/hero-mobile.jpg);

  @media screen and (min-resolution: 192dpi) {
    background-image:
    linear-gradient(var(--opacity-black-50), var(--opacity-black-50)),
      url(../img/hero/hero-mobile@2x.jpg);
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.hero-title-text {
  color: var(--color-white);
}

.hero-button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding-top: 325px;
    padding-bottom: 325px;
    background-image:
    linear-gradient(var(--opacity-black-50), var(--opacity-black-50)),
      url(../img/hero/hero-tablet.jpg);

    @media screen and (min-resolution: 192dpi) {
      background-image:
    linear-gradient(var(--opacity-black-50), var(--opacity-black-50)),
        url(../img/hero/hero-tablet@2x.jpg);
    }
  }

  .hero-title-wrapper {
    max-width: 768px;
  }

  .hero-button {
    width: 219px;
    max-width: 219px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    max-width: 1440px;
    padding-top: 306px;
    padding-bottom: 306px;
    background-image:
      linear-gradient(
        var(--opacity-black-50),
        var(--opacity-black-50)
      ),
      url(../img/hero/hero-desktop.jpg);
    
    @media screen and (min-resolution: 192dpi) {
      background-image:
        linear-gradient(
          var(--opacity-black-50),
          var(--opacity-black-50)
        ),
        url(../img/hero/hero-desktop@2x.jpg);
    }
  }    
}
