.sweets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.sweets-category-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
/* ??????????????????? */  
}

.sweets-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.sweets-item {
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 16px;
/*  
  width: 335px;
  height: 433px;
*/  
  min-width: 312px;
  background-color: var(--color-scheme-1-foreground);
}

.sweets-load-more-button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .sweets-title-wrapper {
    align-items: flex-start;
    gap: 8px;
  }

  .sweets-title {
    text-align: left;
  }

  .sweets-title-text {
    text-align: left;
  }

  .sweets-list {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 16px;
    flex-wrap: wrap;
  }

  .sweets-item {
    flex-basis: calc((100% - 16px) / 2);
  }

  .sweets-load-more-button {
    max-width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .sweets-title-wrapper {
    align-items: center;
    gap: 24px;
  }

  .sweets-title {
    text-align: center;
  }

  .sweets-title-text {
    text-align: center;
  }

  .sweets-category-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px 32px;
  }

  .sweets-category-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  .sweets-list {
    gap: 40px 24px;
  }

  .sweets-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .sweets-load-more-button {
    max-width: 198px;
  }
}
